p{
    color:black;
    font-size: 20px;
    text-decoration: underline;
}

span{

    color: blue;
}

.paragraph2_color_blueviolet{

    color:blueviolet;
}

#pre1{

    font-size: 25px;
    color:darkviolet;
}

.paragraph2{

    font-size: 25px;
    color:orange;
    text-decoration: underline;

}

.paragraph2_red{

    color:red;
}