.List1{

list-style: circle outside none;
    /* list-style-type: none; */
    /* list-style-position: outside ; */
    /* list-style-image: url; */

}

.List2{

    /* list-style: ; */
 
    list-style-type:upper-roman;
   

}

.List2 li{

padding-left: 20px;
   

}


.List3 li{

    padding-left: 10px;
    list-style-type:lower-roman;


}


.List4{

    list-style-type:lower-roman;

}

table{

    border: 1px solid black;
    border-collapse: collapse;
}

td{

    border: 1px solid black;

}

th{

    border: 1px solid black;

}