

 *{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* p{

    display: block;
    border: 1px solid black;
    width: 20%;
}

span{

    display: inline-block;
    border: 1px solid black;
    width: 20%;
}  */


div{

    border: 1px solid black;
    display: inline-block;
    vertical-align: middle;

}


.Block1{

width:  300px;
height: 300px;

}

.Block2{

    width:  150px;
    height: 100px;
    
}

.Block3{

    width:  300px;
    height: 200px;
    
}

.Block4{

    width:  200px;
    height: 200px;
            
}


.Block5{

    width:  300px;
    height: 150px;
                
    }