
/* #InternetIMG{
    
    width: 500px;
    height: 400px;
}

#LocIMG{
    
    width: 300px;
    height: 400px;
}

#Google{

    width: 100px;
    height: 100px;


} */

.block1 img{
 width: 200px;
 height: 250px;
 margin: 20px;

}

.block1{
    background-color: bisque;
    text-align: center;
    margin:50px 20px 70px;
    padding:50px;
    
}

.block1 p{
    color: brown;;

}



.block2{

    background-color:azure;
    text-align: center;
    margin: 50px 20px 70px;
}

.block2 img{

    width: 200px;
    height: 250px;
    margin-top: 20px;
    padding-top:50px;

   }
     

   block2 p{

    color:black;
   }